<div class="container mt-5"> 
    <div class="row">

        <div class="col-sm-6">
            <!-- Referencio el componente ya creado que contiene los formularios de inscripcion -->
            <app-seleccionar-cliente 
            [nombre]="clienteSeleccionado.nombre" 
            (seleccionoCliente)="asignarCliente($event)"
            (canceloCliente)="eliminarCliente()">
        </app-seleccionar-cliente> //Envio el nombre del cliente seleccionado en cuanto la variable 'nombre' este llena
        
        <div class="mt-3">
            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        
    </div>

        <div class="col-sm-6">
            segundos
        </div>

    </div>
</div>
