<div class="container mt-5"> 
    <div class="row">

        <div class="col-sm-6">
            <!-- Referencio el componente ya creado que contiene los formularios de inscripcion -->
            <app-seleccionar-cliente  
            [nombre]="clienteSeleccionado.nombre" 
            (seleccionoCliente)="asignarCliente($event)"
            (canceloCliente)="eliminarCliente()">
        </app-seleccionar-cliente> <!-- Variable nombre que se comunicara con este componente -- variable seleccionoCliente y canceloCliente que se comunicaran con los otros clientes -->
        
        <div>
            <label for="">Precio</label>
            <select (change)="seleccionarPrecio($event.target.value)"  class="form-control" name="" id="">
                <option [value]="null">Seleccione un precio</option> <!-- Valor que muestra al lista por default -->
                <option *ngFor="let precio of precios" [value]="precio.id" Diaria>{{precio.nombre}}</option> <!-- Lectura de precios en la BD -->
            </select>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="mt-3">
            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        
    </div>

        <div class="col-sm-6">
            segundos
        </div>

    </div>
</div>
