<div class="container mt-5"> 
    <div class="row">

        <div class="col-sm-6">
            <!-- Referencio el componente ya creado que contiene los formularios de inscripcion -->
            <app-seleccionar-cliente  
            [nombre]="clienteSeleccionado.nombre" 
            (seleccionoCliente)="asignarCliente($event)"
            (canceloCliente)="eliminarCliente()">
        </app-seleccionar-cliente> <!-- Variable nombre que se comunicara con este componente -- variable seleccionoCliente y canceloCliente que se comunicaran con los otros clientes -->
        
        <div class="from-control">
            <label for="">Precio</label>
            <select [(ngModel)]="idPrecio" (change)="seleccionarPrecio($event.target.value)"  class="form-control" name="" id="">
                <option [value]="null">Seleccione un precio</option> <!-- Valor que muestra al lista por default -->
                <option *ngFor="let precio of precios" [value]="precio.id">{{precio.nombre}}</option> <!-- Lectura de precios en la BD -->
            </select>
        </div>

        <div class="from-control mt-3">
            <label for="">Fecha Inicio</label>
            <input class="form-control" [value]="inscripcion.fecha | date" type="text" disabled>
        </div>
        <div class="from-control mt-3">
            <label for="">Fecha Final</label>
            <input class="form-control" [value]="inscripcion.fechaFinal | date" type="text" disabled>
        </div>

        <div class="from-control mt-3">
            <label for="">Sub Total</label>
            <input class="form-control" [value]="inscripcion.subTotal" type="number" disabled>
        </div>

        <div class="from-control mt-3">
            <label for="">Iva</label>
            <input class="form-control" [value]="inscripcion.iva" type="number" disabled>
        </div>

        <div class="from-control mt-3">
            <label for="">Total</label>
            <input class="form-control" [value]="inscripcion.total" type="number" disabled>
        </div>

        <br>

        <div class="mt-3">
            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        
    </div>
        <div class="col-sm-6">
            <div *ngIf="clienteSeleccionado.imgUrl" class="imgCliente">
                <img [src]="clienteSeleccionado.imgUrl" alt="">
            </div>
        </div>
    </div>
</div>
