<!-- Html para inicio de sesion -->
<div *ngIf="usuario && !cargando; else showLogin">  <!-- Si el usuario existe y ya no se está cargando muestra el Html, si no redirecciona a "showLogin" -->
  <app-encabezado></app-encabezado> <!-- Componente que se muestra al iniciar sesion exitosamente -->
  <router-outlet></router-outlet>
  <h1>Hola, {{usuario.email}}</h1><!--  Saludo de inicio de sesion -->

  <button (click)="logout()">Logout</button> <!-- Boton para cerrar sesion -->
</div>

<ng-template #showLogin> <!-- Codigo que se muestra cuando no se ha iniciado sesion -->
  <div *ngIf="cargando" class="text-center"> <!-- Se muestra el html "cargando..." si la variable cargando es true -->
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> <!-- Imagen cargando sacada de "loading css" -->
  </div>
  <app-login *ngIf="!cargando"></app-login> <!-- invocamos el componente "login" siempre y cuando la variable cargado sea false -->
</ng-template>
<!-- Fin Html inicio de sesion -->


