<div class="container mt-5">
    <form action="">
        

        

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Agrege el nombre">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" placeholder="Agrege el apellido">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" placeholder="Agrege un correo">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" placeholder="Agrege una cedula">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha Nacimiento</label>
                    <input type="date" class="form-control" placeholder="Agrege una fecha de nacimiento">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" placeholder="Agrege un telefono">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" class="form-control-file" placeholder="Agrege su imagen">
                </div>
            </div>
            <div class="col-sm-12">
                <progressbar [value]="22" type="danger" [striped]="true">22%</progressbar>
            </div>

            <br><br>
            <button class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>
