<div class="container mt-5"> <!-- Siempre se declara primero un container y se le agrega un margen -->
    <form [formGroup]="formularioCliente" action=""> <!-- Creamos un forms para diligenciar un formulario -->

        <!-- Si se quiere tener el formulario organizado en filas y columnas... -->
        <div class="row">  <!-- Se declara una fila -->
            <div class="col-sm-4"> <!-- Se declara una columna con un valor de 4 -- (El #4 simboliza la medida en que estará dividida la fila, la fila mide un total de 12) -->
                <div class="form-group">
                    <label for="">Nombre</label>            <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Agrege el nombre">
                    <div *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty"
                        class="alert alert-danger" role="alert">
                        <!-- Si el email es invalido o el campo está sucio insertamos una alerta para el correo -->
                        <span *ngIf="formularioCliente.controls['nombre'].errors.required">El nombre es requerido</span>
                    </div>
                </div>                                    
            </div>

            <div class="col-sm-4"> <!-- Se declara otra columna con un valor de 4 para un total de 8/12 de la fila -->
                <div class="form-group">
                    <label for="">Apellido</label>           <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Agrege el apellido">
                    <div *ngIf="formularioCliente.controls['apellido'].invalid && formularioCliente.controls['apellido'].dirty"
                        class="alert alert-danger" role="alert">
                        <!-- Si el email es invalido o el campo está sucio insertamos una alerta para el correo -->
                        <span *ngIf="formularioCliente.controls['apellido'].errors.required">El apellido es requerido</span>
                    </div>
                </div>                                      
            </div>

            <div class="col-sm-4">
                <!-- Se declara otra columna con un valor de 4 para un total de 12/12 de la fila, la próxima informacion se acomodará en otra fila -->
                <div class="form-group">
                    <label for="">Correo</label>            <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="text" class="form-control" formControlName="correo" placeholder="Agrege un correo">
                    <div *ngIf="formularioCliente.controls['correo'].invalid && formularioCliente.controls['correo'].dirty"
                        class="alert alert-danger" role="alert">
                        <!-- Si el email es invalido o el campo está sucio insertamos una alerta para el correo -->
                        <span *ngIf="formularioCliente.controls['correo'].errors.required">correo electronico es requerido</span>
                        <span *ngIf="formularioCliente.controls['correo'].errors.email"> correo electronico no es valido</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- Se declara una columna y se acomoda en una nueva fila -->
                <div class="form-group">
                    <label for="">Cedula</label>           <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="text" class="form-control" formControlName="cedula" placeholder="Agrege una cedula">
                </div>                                     
            </div>

            <div class="col-sm-4"> <!-- Se declara una columna -->
                <div class="form-group">
                    <label for="">Fecha Nacimiento</label>           <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Agrege una fecha de nacimiento">
                    <div *ngIf="formularioCliente.controls['fechaNacimiento'].invalid && formularioCliente.controls['fechaNacimiento'].dirty"
                        class="alert alert-danger" role="alert">
                        <!-- Si el email es invalido o el campo está sucio insertamos una alerta para el correo -->
                        <span *ngIf="formularioCliente.controls['fechaNacimiento'].errors.required">La fecha de nacimiento es requerida</span>
                    </div>
                </div>                                      
            </div>

            <div class="col-sm-4"> <!-- Se declara una columna -->
                <div class="form-group">
                    <label for="">Telefono</label>           <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="tel" class="form-control" formControlName="telefono" placeholder="Agrege un telefono">
                </div>                                      
            </div>

            <div class="col-sm-12"> <!-- Se declara una columna con un valor de 12 --(Es decir que ocupa toda la fila)-->
                <div class="form-group">
                    <label for="">Imagen</label>           <!-- ↓↓↓ Se debe colocar el formControlName como aparece en los validadores y en la base de datos -->
                    <input type="file" class="form-control-file" formControlName="imgUrl" placeholder="Agrege su imagen">
                    <div *ngIf="formularioCliente.controls['imgUrl'].invalid && formularioCliente.controls['imgUrl'].dirty"
                        class="alert alert-danger" role="alert">
                        <!-- Si el email es invalido o el campo está sucio insertamos una alerta para el correo -->
                        <span *ngIf="formularioCliente.controls['imgUrl'].errors.required">La imagen es requerida</span>
                    </div>  
                </div>                                      
            </div>
            <div class="col-sm-12"> <!-- Se declara una columna con un valor de 12 --(Es decir que ocupa toda la fila)-->
                <progressbar [value]="22" type="danger" [striped]="true">22%</progressbar>
            </div>

            <br><br>
            <button class="btn btn-primary" [disabled]="formularioCliente.invalid" (click)="agregar()">Agregar</button> <!-- Boton para agregar el cliente nuevo -->
        </div>
    </form>
</div>
