<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <h4>Precios</h4>
            <ul>
                <li>Suscripcion semanal</li>
                <li>Suscripcion mensual</li> 
            </ul>
        </div>

        <div class="col-sm-4">
            <h5>Agregar/Editar</h5>
            <form action="">

                <div class="form-group">
                    <label for="">Nombre</label>
                    <input class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="">Costo</label>
                    <input class="form-control" type="number">
                </div>

                <div class="form-group">
                    <label for="">Duración</label>
                    <input class="form-control" type="number">
                </div>

                <div class="form-group">
                    <label for="">Tipo de duración</label>
                    <select class="form-control">
                        <option value="1">Día</option>
                        <option value="2">Semana</option>
                        <option value="3">Quincena</option>
                        <option value="4">Mes</option>
                        <option value="5">Año</option>
                    </select>
                </div>
                <button class="btn btn-primary">Agregar</button>
                <button class="btn btn-danger">Editar</button>
            </form>
        </div>
    </div>
</div>
