<div class="container mt-3">
    <h4>Listado de clientes</h4>

    <form action=""> <!-- Input para buscar cliente -->
        <div class="form-group">
          <input  type="text" placeholder="Busque un cliente" class="form-control"> <!-- Se le agrega el form-control de bootstrap -->
        </div>
    </form>

    <div class="row"> <!-- "Card" de bootstrap para presentacion de clientes -->
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.imgUrl"> <!-- Para leer la BD se necesita el src con corchetes -->
                <div class="card-body">
                  <p>{{cliente.id}}</p> <!-- Se muestra el id del cliente -->
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5> <!-- Se muestra el nombre y apellido del cliente -->
                  <a [routerLink]="['/agregar-cliente/', cliente.id]" class="card-link">Editar</a> <!-- Link de editar -- ¡¡¡OJO!!! ¡CODIGO PARA ACCEDER A URL MAS UN PARAMETRO! -->
                  <a href="#" class="card-link text-danger">Desactivar</a> <!-- Link de desactivar -->
                </div>
              </div>
          </div>
    </div>
</div>
