<div class="container mt-3">
    <h4>Listado de clientes</h4>

    <form action=""> <!-- Input para buscar cliente -->
        <div class="form-group">
          <input  type="text" placeholder="Busque un cliente" class="form-control">
        </div>
    </form>

    <div class="row"> <!-- "Card" de bootstrap para presentacion de clientes -->
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.imgUrl">
                <div class="card-body">
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                  <a href="#" class="card-link">Editar</a>
                  <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
              </div>
          </div>
    </div>
</div>
