
                                                <!-- NAVBAR IMPORTADO DE BOOTSTRAP -->
                                <!-- Al copiarlo, se le borra el ultimo "form" para poder que funcione -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DominarGym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active"> 
          <a class="nav-link" href="#">Inscripción <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" href="#">Ver inscripciones <span class="sr-only"></span></a>
          </li>   

                                   <!--↓↓↓ Se inserta el dropdown manualmente -->
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
            Clientes                         <!-- ↑↑↑ Se inserta el dropDownToggle manualmente -->
          </a>                      <!-- ↓↓↓ Se inserta el *dropdownMenu manualmente -->
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Agregar clientes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Ver clientes</a>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
              Precios                         <!-- ↑↑↑ Se inserta el dropDownToggle manualmente -->
            </a>                      <!-- ↓↓↓ Se inserta el *dropdownMenu manualmente -->
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Agregar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ver precios</a>
            </div>
          </li>

          <li class="nav-item"> 
            <a class="nav-link" href="#">Usuarios <span class="sr-only"></span></a>
          </li> 

          
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
              Reportes                         <!-- ↑↑↑ Se inserta el dropDownToggle manualmente -->
            </a>                      <!-- ↓↓↓ Se inserta el *dropdownMenu manualmente -->
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Suscripciones Diarias</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Suscripciones Mensuales</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Más vendidas</a>
            </div>
          </li>
      </ul>

    </div>
  </nav>
